<a href="https://colab.research.google.com/github/Aaron-Gonzales/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [28]:
x = 5
y = 2
if x > y:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [5]:
#This is a comment
print("Hello, World!")

Hello, World!

Variable Naming Conventions

In [11]:
my_var = "John"

Python Variable

In [20]:
z = 1
a, b, = 0, -1
a, b, c, = 0, -1, "Sally"
print(a)
print(b)
print(c)
print(z)

0
-1
Sally
1

Casting

In [29]:
b = "Sally" #this is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() Function

In [30]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double Quotes" or 'Single' quotes

In [32]:
y = "Aaron"
y = 'Aaron'
print(y)
print(y)

Aaron
Aaron

Case sensitive

In [33]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [34]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [35]:
 x = y = z = "four"
 print(x)
 print(y)
 print(z)

four
four
four

Output Variables

In [37]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

Arithmetic Operations

In [42]:
x = 5
y = 5
print(x ** y)

x = 10
y = 2
print(x // y)

3125
5

Assignment Operators

In [43]:
a, b, c = 0, -2, 8
c/=3
c

2.6666666666666665

Comparison Operators

In [48]:
c = 4 == 3
d = 2 != 5
print(c)
print(d)

False
True

Logical Operators

In [46]:
a, b, c = 5, -4, 8
a<b and c<b

False

Identity Operators

In [47]:
a, b, c = 5, -4, 8
a is not c

True

Bitwise Operators

In [66]:
x = 10
x >> 1

5

Application 1

In [78]:
#Parallelogram

print("Input Base: ")
Base = input()

print("Input Height: ")
Height = input()

print("Area of Parallelogram: ")
print(float(base)*float(height) )

Input Base:
32
Input Height:
32
Area of Parallelogram:
1024.0

In [85]:
#Triangle

print("Input base: ")
base = input()

print("Input Height: ")
height = input()

print("Area of Triangle:")
print((float(base)*float(height))/2)

Input base:
1
Input Height:
2
Area of Triangle:
1.0

In [87]:
#Square

print("Input side: ")
side = input()

print("Area of Square: ")
print((float(side)**2))

Input side:
3
Area of Square:
9.0